# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
*.swp

# Undo-tree save-files
*.~undo-tree

# Eshell residue
eshell/history
eshell/lastdir
eshell/z

# tangled files
+*
config.el
packages.el
modules/

# Directories managed by Emacs
jira/

# Lua LSP
EmmyLua-LS-all.jar
